# 1.  Library

In [1]:
import os
import sys

In [2]:
os.environ["NLS_LANG"] = "KOREAN_KOREA.KO16KSC5601"

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
import cx_Oracle
from sqlalchemy.orm import sessionmaker

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

# 2. Download Data

### 1. GRP_BLOOM

In [6]:
engine = create_engine(
    'oracle://HAEMA:hippocampus!@roboinvest.cpyxwn3oujsg.ap-northeast-2.rds.amazonaws.com:1521/ORCL'
)

In [7]:
grp_query = "select * from grp_bloom"
result = engine.execute(grp_query)

In [8]:
rows = [row for row in result]
column_names = result.keys()
df_grp = pd.DataFrame(rows, columns=column_names)

In [9]:
df_grp.head()

      tdate               ticker    field      value
0  19930303  ty1 n:04_0_r comdty  PX_LAST  53.984375
1  19930304  ty1 n:04_0_r comdty  PX_LAST     54.125
2  19930305  ty1 n:04_0_r comdty  PX_LAST   53.84375
3  19930308  ty1 n:04_0_r comdty  PX_LAST   53.90625
4  19930309  ty1 n:04_0_r comdty  PX_LAST    53.6875

In [10]:
print("DATA SHAPE: ", df_grp.shape)

DATA SHAPE:  (236795, 4)

### 2. INFO_BLOOM

In [34]:
info_query = "select * from info_bloom"
result = engine.execute(info_query)

In [35]:
rows = [row for row in result]
column_names = result.keys()
df_info = pd.DataFrame(rows, columns=column_names)

In [36]:
df_info.head()

                ticker grp_ticker
0  GC1 n:04_0_r comdty         GC
1  CL1 r:04_0_r comdty         CL
2  NG1 r:04_0_r comdty         NG
3  HG1 n:04_0_r comdty         HG
4  C 1 n:04_0_r comdty          C

In [37]:
print("DATA SHAPE: ", df_info.shape)

DATA SHAPE:  (71, 2)

# 3. DATA CHECK

### 중복 없음

In [38]:
del df_grp['field']

In [39]:
df_grp['value'] = df_grp['value'].apply(lambda x: float(x))

In [40]:
df_grp.drop_duplicates(inplace=True)

In [41]:
df_grp.shape

(236795, 3)

# 4. Experiment

In [11]:
df_grp_pivot = df_grp.pivot(index='tdate', columns='ticker', values='value')

In [13]:
df_grp_pivot.head()

ticker,AI1 r:03_0_r index,BCOMGC index,BCOMGC3 index,BO1 n:04_0_r comdty,C 1 n:04_0_r comdty,CL1 r:04_0_r comdty,CT1 n:04_0_r comdty,ES1 r:03_0_r index,GC1 n:04_0_r comdty,HG1 n:04_0_r comdty,...,pt1 r:03_0_r index,qz1 r:03_0_r index,rsx us equity,rx1 n:04_0_r comdty,sm1 r:03_0_r index,st1 r:03_0_r index,tw1 r:03_0_r index,ty1 n:04_0_r comdty,xp1 r:03_0_r index,z 1 r:03_0_r index
tdate,,,,,,,,,,,,,,,,,,,,,
19911231,NaN,86.3694,86.1112,18.5,251.5,19.12,59.17,NaN,355.2,97.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19920101,NaN,NaN,NaN,18.5,251.5,19.12,59.17,NaN,355.2,97.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19920102,NaN,NaN,NaN,18.4,250.5,19.49,59.58,NaN,353.2,95.69,...,NaN,NaN,NaN,53.13,NaN,NaN,NaN,48.40625,NaN,NaN
19920103,NaN,NaN,NaN,18.45,248.75,19.23,59.83,NaN,351.5,96.05,...,NaN,NaN,NaN,53.13,NaN,NaN,NaN,48.25,NaN,NaN
19920106,NaN,NaN,NaN,18.55,249.75,19.21,60.1,NaN,350.3,96.05,...,NaN,NaN,NaN,53.27,NaN,NaN,NaN,48.34375,NaN,NaN