In [1]:
import os
import sys

In [2]:
os.environ["NLS_LANG"] = "KOREAN_KOREA.KO16KSC5601"

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
import cx_Oracle
from sqlalchemy.orm import sessionmaker

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

# 1. DATA

In [6]:
engine = create_engine(
    'oracle://HAEMA:hippocampus!@roboinvest.cpyxwn3oujsg.ap-northeast-2.rds.amazonaws.com:1521/ORCL'
)

### PAST

In [7]:
grp_query = "select * from grp_past"
result = engine.execute(grp_query)

rows = [row for row in result]
column_names = result.keys()
df_past = pd.DataFrame(rows, columns=column_names)

In [8]:
df_past_totindex = df_past[df_past['origin'] == 'totindex-em']
df_past_totindex = df_past_totindex.pivot(index='tdate', columns='ticker', values='value')

df_past_priceindex = df_past[df_past['origin'] == 'priceindex-em']
df_past_priceindex = df_past_priceindex.pivot(index='tdate', columns='ticker', values='value')

### BLOOM

In [9]:
bloom_query = "select * from grp_bloom"
result = engine.execute(bloom_query)

rows = [row for row in result]
column_names = result.keys()
df_bloom = pd.DataFrame(rows, columns=column_names)

In [10]:
df_bloom_pivot = df_bloom.pivot(index='tdate', columns='ticker', values='value')

In [12]:
df_bloom_pivot.head()

ticker,AI1 r:03_0_r index,BCOMGC index,BCOMGC3 index,BO1 n:04_0_r comdty,C 1 n:04_0_r comdty,CL1 r:04_0_r comdty,CT1 n:04_0_r comdty,ES1 r:03_0_r index,GC1 n:04_0_r comdty,HG1 n:04_0_r comdty,...,pt1 r:03_0_r index,qz1 r:03_0_r index,rsx us equity,rx1 n:04_0_r comdty,sm1 r:03_0_r index,st1 r:03_0_r index,tw1 r:03_0_r index,ty1 n:04_0_r comdty,xp1 r:03_0_r index,z 1 r:03_0_r index
tdate,,,,,,,,,,,,,,,,,,,,,
19911231,NaN,86.3694,86.1112,18.5,251.5,19.12,59.17,NaN,355.2,97.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19920101,NaN,NaN,NaN,18.5,251.5,19.12,59.17,NaN,355.2,97.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19920102,NaN,NaN,NaN,18.4,250.5,19.49,59.58,NaN,353.2,95.69,...,NaN,NaN,NaN,53.13,NaN,NaN,NaN,48.40625,NaN,NaN
19920103,NaN,NaN,NaN,18.45,248.75,19.23,59.83,NaN,351.5,96.05,...,NaN,NaN,NaN,53.13,NaN,NaN,NaN,48.25,NaN,NaN
19920106,NaN,NaN,NaN,18.55,249.75,19.21,60.1,NaN,350.3,96.05,...,NaN,NaN,NaN,53.27,NaN,NaN,NaN,48.34375,NaN,NaN

In [14]:
BLOOM_EMERGING_COLUMNS = {'AI1 r:03_0_r index': 'SA',
                          'IDO1 r:03_0_r index': 'ID',
                          'IH1 r:03_0_r index': 'IN',
                          'IK1 r:03_0_r index': 'MY',
                          'IS1 r:03_0_r index': 'MX',
                          'KM1 r:03_0_r index': 'KR',
                          'XU1 r:03_0_r index': 'CN',
                          'ewz us equity': 'BR',
                          'rsx us equity': 'RU',
                          'tw1 r:03_0_r index': 'TW'
                          }

In [16]:
index = df_bloom_pivot[list(BLOOM_EMERGING_COLUMNS.keys())]
index.rename(columns=BLOOM_EMERGING_COLUMNS, inplace=True)
index.index = pd.to_datetime(index.index, format='%Y%m%d')
index = index.astype(np.float32)

c:\programdata\anaconda3\envs\project\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [19]:
index.tail()

ticker,SA,ID,IN,MY,MX,KR,CN,BR,RU,TW
tdate,,,,,,,,,,
2019-07-25,51475.0,7380.0,11251.0,1655.5,41272.0,273.799988,13702.5,45.090000,23.620001,402.480011
2019-07-26,51543.0,7280.0,11328.5,1650.5,40959.0,272.549988,13722.5,45.439999,23.639999,399.899994
2019-07-29,51921.0,7275.0,11211.0,1641.5,41731.0,268.399994,13730.0,45.490002,23.719999,399.899994
2019-07-30,51072.0,7360.0,11097.5,1641.5,41482.0,269.399994,13787.5,45.169998,23.620001,399.000000
2019-07-31,51072.0,7360.0,11072.5,1630.5,41482.0,268.399994,13620.0,45.169998,23.620001,397.399994

In [23]:
ret = index.pct_change(periods=1)

In [24]:
ret.shape

(7197, 10)